@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  font-family: "Raleway Dots", cursive;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  font-weight: lighter;
}

h4 {
  font-size: 0.8em;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.8;
  margin: 8px auto;
  text-align: center;
}

p {
  margin: 8px auto;
  line-height: 1.4em;
}

/* font-family: 'Raleway Dots', cursive; */
a {
  text-decoration: none;
  color: white;
}
a:hover {
  /*  nastaveno zejména pro odkazy v patičce, ale napr. v paticce u webovek a mailu to tak nechci ani v hlavicce v menu */
  font-size: 400;
  color: #457b9d;
}
a:focus {
  /*  nastaveno zejména pro odkazy v patičce, ale napr. v paticce u webovek a mailu to tak nechci ani v hlavicce v menu */
  background-color: #a7dadc;
  font-size: 1.2em;
  color: white;
  padding: 8px;
}

button {
  display: block;
  background-color: white;
  color: #457b9d;
  padding: 4px 8px;
  margin: 16px auto;
  border-radius: 4px;
  border: 1px solid white;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
button :hover {
  background-color: #a7dadc;
}

.wrapper {
  margin: 0 auto;
  background-color: white;
}

/************************************************ HEADER  *********************************************/
.firstline {
  background-color: #1d3557;
  display: block;
}
.firstline .icon-set {
  color: white;
  padding: 8px;
  padding-top: 14px;
}
@media (min-width: 700px) {
  .firstline {
    display: flex;
    justify-content: space-between;
  }
}

.header-contact {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 700px) {
  .header-contact {
    display: flex;
    justify-content: space-between;
  }
}

.search-component {
  margin-left: 0;
  min-width: 150px;
}

.search-input {
  text-align: left;
  margin-left: 8px;
  min-width: 250px;
}
@media (min-width: 700px) {
  .search-input {
    text-align: left;
    margin-left: 0;
    min-width: 400px;
  }
}
.search-input span {
  padding-top: 10px;
}

.searchnbutton {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}
@media (min-width: 700px) {
  .searchnbutton {
    display: flex;
    justify-content: space-between;
    padding: 8px;
  }
}

.login {
  margin: 0;
  background-color: transparent;
  border: transparent;
  color: #b61624;
}

.secondline {
  background-color: white;
  color: #1d3557;
  display: flex;
  justify-content: space-between;
}

.header-left {
  padding: 8px;
  display: flex;
  margin: auto 8px;
}
.header-left .logo-text {
  margin: auto 8px;
  max-width: 150px;
  width: 100%;
  display: block;
}
.header-left .logo-picture {
  max-width: 150px;
  width: 100%;
  display: block;
}

.menu {
  padding: 8px;
  margin: 8px;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  padding: padding;
  margin: auto;
}

.menu-item:not(:last-child) {
  border-right: 1px solid #a7dadc;
}

.menu-link {
  display: block;
  padding: padding;
  margin: 8px;
  font-weight: lighter;
  text-decoration: none;
  color: #1d3557;
}

menu-link:hover {
  background-color: #a7dadc;
  color: white;
}

/************************************************ HEADER konec *********************************************/
/***************************************************** MAIN ************************************************/
/************************************************* MAIN konec ************************************************/
/********************************************* HOMEPAGE SEMINARE ********************************************/
.container {
  display: block;
}

@media (min-width: 700px) {
  .seminarcards {
    display: grid;
    gap: 64px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    width: 100%;
  }
}

.card {
  position: relative;
  margin: 24px;
}

.scheldule {
  background-color: #1d3557;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 48px 48px 16px 48px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.type-place {
  border: 1px solid #b61624;
  background-color: #b61624;
  font-size: 1em;
  padding: 8px;
  display: block;
  border-radius: 4px;
  position: absolute;
  right: 5%;
  top: -10%;
}

.price {
  background-color: white;
  color: #b61624;
  font-size: 1em;
  padding: 4px 8px;
  display: block;
  border: 1px solid #C3C3C3;
  border-radius: 4px;
  position: absolute;
  left: 5%;
  top: -10%;
  line-height: 1em;
}

.dph {
  display: block;
  font-size: 0.6em;
}

.card img {
  width: 100%;
  display: block;
}

.cardtext {
  background-color: #e5e5e5;
  color: black;
  padding: 16px 8px;
  display: block;
  border-radius: 0 0 10px 10px;
}

.cardtext p, h3 {
  padding: 16px;
}

.cardtext h3 {
  text-align: center;
}

.lecteur-card img {
  width: 100px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 3px 10px;
  /* margin-left: -50px; */
}

.lecteur-card {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.name {
  margin: auto 16px;
  font-size: 0.8em;
  color: black;
}

/* *********************    HOMEPAGE SEMINARE KONEC ********************** */
/* ********************** HOMEPAGE AKTUALITY ******************************** */
.header-section {
  text-align: center;
  display: block;
  margin: 24px;
}

.news {
  background-color: #e5e5e5;
  padding: 8px;
}

.news-card {
  display: block;
  margin: 8px;
  padding: 8px;
}
.news-card p {
  display: none;
}
@media (min-width: 700px) {
  .news-card p {
    display: block;
  }
}

@media (min-width: 700px) {
  .news-obsah {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    margin: 8px;
  }
  .news-obsah img {
    max-width: 30%;
  }
  .news-obsah .news-text {
    margin-left: 16px;
  }
}

.date-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid white;
}

.news-img {
  display: block;
  max-width: 100%;
}

.news-text h3 {
  padding: 0;
}

.more-info-news {
  display: block;
}
@media (min-width: 700px) {
  .more-info-news {
    display: inline-block;
    text-align: right;
  }
}

.page {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}
.page .date-info {
  border-bottom: 1px solid grey;
}
@media (min-width: 700px) {
  .page .news-img {
    max-width: 150px;
  }
}

.aktuality-singlepage .news-obsah {
  display: block;
}
.aktuality-singlepage .news-img {
  max-width: 30%;
  float: left;
  margin: 8px;
}
.aktuality-singlepage .down {
  max-width: 30%;
  float: right;
  margin: 8px;
}

/* ********************** HOMEPAGE AKTUALITY KONEC ******************************** */
/* ********************** HOMEPAGE REFERENCE ******************************** */
.references {
  display: block;
}
@media (min-width: 700px) {
  .references {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

.person {
  display: block;
  text-align: center;
  padding: 16px;
  margin: 0 24px;
}

.person-img {
  width: 150px;
  max-width: 80%;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0 3px 10px;
}

/* ********************** HOMEPAGE REFERENCE KONEC ******************************** */
/* ********************** lektoři ******************************** */
/* --------------------- MOBIL --------------------- */
body {
  min-height: 100vh;
}

.singlepage-header {
  display: flex;
  justify-content: space-between;
}

.team-lecteurs {
  position: relative;
  background-color: white;
  margin: 16px 0;
}

.lecteur {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.lecteur-photo {
  height: 100px;
  position: relative;
  padding: 8px;
}
.lecteur-photo img {
  display: block;
  width: 120px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.lecteur-details {
  text-align: center;
}

.lessons {
  line-height: 1;
  color: #b61624;
}

.specializace {
  left: 0px;
  top: 0px;
  padding: 4px 8px 4px 6px;
  border-radius: 8px 0 0px 0;
  background-color: #b61624;
  color: white;
  z-index: 99;
}
.specializace :hover {
  transform: translateY(-2px);
}

.team-lecteurs {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* ********************** lektoři konec ******************************** */
/* ***************************** MEDAILONEK ******************************** */
.medailonek-button {
  margin-right: 8px;
}

.medailonek {
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 4fr 2fr;
  justify-items: left;
  grid-template-columns: auto-fill, minmax(200px, 2fr);
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  margin: 24px;
}
.medailonek h2 {
  text-align: left;
}

.medailonek-photo {
  padding: 8px;
  margin: auto 8px;
}
.medailonek-photo img {
  width: 150px;
  margin: auto;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.seminar-list {
  padding: 8px;
  margin: 16px;
  border-left: 1px solid #a7dadc;
}

.lessons {
  display: block;
  padding: 8px;
}

/* ********************** MEDAILONEK konec ********************************** */
.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
}

/* -------------------------------- FOOTER ------------------------------------------- */
.footer {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 24px;
  text-align: left;
  max-width: 100%;
  display: block;
}
@media (min-width: 700px) {
  .footer {
    font-size: 0.7em;
  }
}

.footer-block h3 {
  max-width: 100px;
  text-align: left;
  line-height: 1.1;
  padding: 0;
  margin: 0 0 4px 0;
}
.footer-block .info, .footer-block .footer-menu {
  line-height: 1.2;
  margin: 16px 0;
}
.footer-block .nazev {
  margin-top: 0;
}
@media (min-width: 700px) {
  .footer-block {
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    display: grid;
    gap: 32px;
    justify-items: left;
  }
}
@media (min-width: 900px) {
  .footer-block {
    grid-template-columns: repeat(auto-fill, minmax(180px, 2fr));
  }
}

.footer-menu {
  list-style: none;
  margin-top: 8px;
  padding-left: 0;
}

.footermenu-item {
  margin: 16px 0;
}

.footer-newsletter {
  max-width: 100%;
  text-align: left;
  line-height: 1.1;
  padding-left: 0;
  padding-bottom: 0px;
  margin: 0;
  margin-top: 0;
}
.footer-newsletter h3 {
  margin-bottom: 8px;
}
.footer-newsletter p {
  color: white;
  font-size: 0.8em;
}
.footer-newsletter input {
  padding: 4px 8px;
  margin: 4px;
  margin-left: 0;
  border-radius: 4px;
  border: 1px solid white;
}

.footer-newsletter-subscription {
  max-width: 270px;
  margin-left: 0;
  display: block;
  background-color: white;
  color: #457b9d;
  padding: 4px 8px;
  border-radius: 4px;
  border: 1px solid white;
}
.footer-newsletter-subscription :hover {
  background-color: #a7dadc;
}

.footerarea-f {
  margin: 0px;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: -8px;
  width: 100%;
  color: white;
  font-size: 0.8em;
  text-align: center;
}/*# sourceMappingURL=style.css.map */