@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, ::before, ::after {
  box-sizing: inherit;
}

body {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  line-height: 1.5;
}

h1 {
  font-size: 2em;
  font-family: "Raleway Dots", cursive;
}

h2 {
  font-size: 1.6em;
  font-weight: normal;
}

h3 {
  font-size: 1.2em;
  font-weight: lighter;
}

h4 {
  font-size: 0.8em;
  font-weight: lighter;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.8;
  margin: 8px auto;
}

p {
  margin: 8px auto;
  line-height: 1.4em;
}

/* font-family: 'Raleway Dots', cursive; */
a {
  text-decoration: none;
  color: white;
}
a:hover {
  /*  nastaveno zejména pro odkazy v patičce, ale napr. v paticce u webovek a mailu to tak nechci ani v hlavicce v menu */
  font-size: 400;
  color: #457b9d;
}
a:focus {
  /*  nastaveno zejména pro odkazy v patičce, ale napr. v paticce u webovek a mailu to tak nechci ani v hlavicce v menu */
  background-color: #a7dadc;
  font-size: 1.2em;
  color: white;
  padding: 8px;
}

button {
  display: block;
  background-color: white;
  color: #457b9d;
  padding: 4px 8px;
  margin: 16px auto;
  border-radius: 4px;
  border: 1px solid white;
}
button :hover {
  background-color: #a7dadc;
}

.wrapper {
  margin: 0 auto;
  background-color: white;
}

/************************************************ HEADER  *********************************************/
.header-components {
  display: flex;
  justify-content: space-between;
  background-color: #1d3557;
}
.header-components .icon-set {
  color: white;
  padding: 8px;
  padding-top: 14px;
}

.header-contact {
  display: flex;
  justify-content: space-between;
}

.search-component {
  display: flex;
  margin: auto;
  display: block;
  text-align: right;
  flex-basis: 50%;
  padding: 8px;
}
.search-component span {
  padding-top: 10px;
}

.search-input {
  text-align: right;
}

.login {
  flex-basis: 15%;
  text-align: right;
  max-height: 35px;
  background-color: transparent;
  border: transparent;
  color: #b61624;
}

.secondline {
  background-color: white;
  color: #1d3557;
  display: flex;
  justify-content: space-between;
}

.header-left {
  padding: 8px;
  display: flex;
  justify-content: space-around;
  margin: auto 8px;
}
.header-left .logo-text {
  padding-left: 16px;
}

.menu {
  padding: 8px;
  margin: 8px;
}

.menu-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.menu-item {
  padding: padding;
  margin: auto;
}

.menu-item:not(:last-child) {
  border-right: 1px solid #a7dadc;
}

.menu-link {
  display: block;
  padding: padding;
  margin: 8px;
  font-weight: lighter;
  text-decoration: none;
  color: #1d3557;
}

menu-link:hover {
  background-color: #a7dadc;
  color: white;
}

/************************************************ HEADER konec *********************************************/
/***************************************************** MAIN ************************************************/
/*************************************************MAIN konec ************************************************/
/********************************************* HOMEPAGE SEMINARE ********************************************/
.container {
  display: flex;
}

.seminarcards {
  display: flex;
  width: 100%;
  margin: 0 160px;
  /* flex-basis: calc(100% - 30px); */
  justify-content: space-between;
  align-items: stretch;
  /* PROČ SE KARTY NENATAHUJÍ ??? */
  flex-wrap: nowrap;
}

.card {
  margin: 24px 16px;
  flex-basis: 29%;
}

.scheldule {
  background-color: #1d3557;
  color: white;
  font-weight: 700;
  text-align: center;
  padding: 48px 48px 16px 48px;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.type-place {
  border: 1px solid #b61624;
  background-color: #b61624;
  font-size: 1em;
  padding: 8px;
  display: block;
  border-radius: 4px;
  position: absolute;
  right: 5%;
  top: -10%;
}

.price {
  background-color: white;
  color: #b61624;
  font-size: 1em;
  padding: 4px 8px;
  display: block;
  border: 1px solid #C3C3C3;
  border-radius: 4px;
  position: absolute;
  left: 5%;
  top: -10%;
  line-height: 1em;
}

.dph {
  display: block;
  font-size: 0.6em;
}

.card img {
  width: 100%;
  display: block;
}

.cardtext {
  background-color: #e5e5e5;
  color: black;
  padding: 16px 8px;
  display: block;
  border-radius: 0 0 10px 10px;
}

.cardtext p, h3 {
  padding: 16px;
}

.cardtext h3 {
  text-align: center;
}

.lecteur img {
  width: 100px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 3px 10px;
  /* margin-left: -50px; */
}

.lecteur {
  display: flex;
  justify-content: space-around;
  text-align: left;
}

.name {
  margin: auto 16px;
  font-size: 0.8em;
  color: black;
}

/* *********************    HOMEPAGE SEMINARE KONEC ********************** */
/* ********************** HOMEPAGE AKTUALITY ******************************** */
.header-section {
  text-align: center;
  display: block;
  margin: 24px;
}

.news {
  background-color: #e5e5e5;
  padding: 8px;
  display: flex;
  justify-content: space-between;
}

.news-card {
  display: block;
  margin: 8px 32px;
  padding: 8px;
  flex-basis: 50%;
  max-height: 450px;
  position: relative;
}

.date-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  border-bottom: 1px solid white;
}

/* .date {
  text-align: left;
  background-color: $c-contrast
}

.read-time {
  text-align: right;
  background-color: orchid;
} */
.news-obsah {
  display: flex;
  flex-basis: 50%;
  padding: 0;
}

.news-img {
  display: flex;
  max-width: 50%;
  height: 100%;
  flex-basis: 50%;
}

.news-text {
  padding: 0 16px;
  display: block;
}

.news-text h3 {
  padding: 0;
}

.more-info-news {
  display: block;
  margin: -16px;
  position: absolute;
  right: 10px;
  background-color: white;
  padding: 8px;
  border-color: transparent;
  border-radius: 4px;
}

/* ********************** HOMEPAGE AKTUALITY KONEC ******************************** */
/* ********************** HOMEPAGE REFERENCE ******************************** */
/* .kontejner {
		display: flex;
		width: 100%;
		flex-direction: column;
		justify-content: space-between;
		padding: 10px;
		margin: 10px;
	}

		.jarmila, .klotylda, .magdalena, .lucinda {
			border: solid 1px grey;
			border-radius: 10px;
			box-shadow: aqua 0 3px 5px -3px;
			text-align: center;
			padding: 15px;
			margin: 10px;
		}

		img {
			max-width: 100%;
			height: auto;
			border-radius: 50%;
		} */
/* ------- */
.references {
  display: flex;
  max-width: 100%;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 0;
  flex-wrap: nowrap;
  padding: 10px;
  margin: 10px;
}

.person {
  display: block;
  text-align: center;
  padding: 16px;
  margin: 0 24px;
}

.person-img {
  width: 150px;
  max-width: 50%;
  align-content: center;
  border-radius: 50%;
  box-shadow: 0 3px 10px;
}

/* ********************** HOMEPAGE REFERENCE KONEC ******************************** */
/* ********************** lektoři ******************************** */
/* --------------------- MOBIL --------------------- */
body {
  min-height: 100vh;
}

h3 {
  text-align: center;
}

.singlepage-header {
  display: flex;
  justify-content: space-between;
}

.team-lecteurs {
  position: relative;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}
.team-lecteurs :hover {
  transform: translateY(-3px);
}

.lecteur {
  border: 1px solid #b61624;
}

.lecteur-photo {
  height: 100px;
  position: relative;
  padding: 8px;
}
.lecteur-photo img {
  display: block;
  width: 120px;
  margin: 0 auto;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.lecteur-details {
  text-align: center;
}

.lessons {
  line-height: 1;
  color: #b61624;
}

.special {
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 4px 8px 4px 6px;
  border-radius: 4px 0 12px 0;
  background-color: #b61624;
  color: white;
  z-index: 99;
}

.team-lecteurs {
  display: grid;
  gap: 32px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* ********************** lektoři konec ******************************** */
.contact {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 32px;
}

/* -------------------------------- FOOTER ------------------------------------------- */
.footer {
  background-color: grey;
  padding: 30px;
  text-align: left;
}

.footer__block {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

.footer__area1 {
  flex-basis: 20%;
}

.info {
  margin-top: 8px;
}

.info a:hover, a:focus {
  color: #b61624;
  font-weight: 1.2em;
  padding: 0;
  background-color: transparent;
}

.footer__area1 h3 {
  /* upravit zápis - vnořit podmínkku pro h3 do footer__area1 */
  margin: 0;
}

.footer__area2 h3 {
  margin-top: 0;
}

.footer__area2 {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
}

.footer__menu {
  list-style: none;
  margin-top: 8px;
}

.footer__menu-item {
  margin: 16px 0;
}

.footer__newsletter {
  display: block;
  max-width: 15%;
}

.footer__newsletter button {
  margin-top: 8px;
}

.footer__area-f {
  margin-top: 15px;
  color: white;
  font-size: 0.8em;
  text-align: center;
  background-color: #C3C3C3;
}

.footer__newsletter-subscription {
  padding: 12px;
  background-color: white;
  border: 0px;
  border-radius: 4px;
}

.footer__newsletter-subscription:hover, .footer__newsletter-subscription:focus {
  background-color: orange;
}/*# sourceMappingURL=style.css.map */