<!DOCTYPE html>
<html lang="cs">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ELEVENTY - PROJEKT LENKA</title>

	<!-- Google Fonts -->
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Raleway:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

	<!-- Náš vlastní styl -->
	<link rel="stylesheet" href="/css/style.css">

</head>
<body>

	<header class="header">
		<h1 class="header__logo">{{title}}</h1>
	</header>

	<nav class="menu">
		<ul class="menu__list">
			<li class="menu__item"><a href="/" class="menu__link">Úvod</a></li>
			<li class="menu__item"><a href="/zalozka1/" class="menu__link">Zalozka1</a></li>
			<li class="menu__item"><a href="/zalozka2/" class="menu__link">Zalozka2</a></li>
			<li class="menu__item"><a href="/zalozka3/" class="menu__link">Zalozka3</a></li>
			<li class="menu__item"><a href="/zalozka4/" class="menu__link">Zalozka4</a></li>
			<li class="menu__item"><a href="/zalozka5/" class="menu__link">Zalozka5</a></li>
		</ul>
	</nav>
       
	<main class="main">
        {{ content | safe }}
    </main>


	<footer class="footer">
		<div class="footer__block">

			<div class="footer__area1">

				<div>PRACOVNI NAZEV LENKA</div>
				<div>IČO: 123321123</div>

				<div>Adresa
					<div>
						Ulice 1<br>
						111 11 Město<br>
					</div>
				</div>
		
				<div>Kontakt
					<div>
						Telefon: 111 111 111<br>
						www: www.projektlenka.cz<br>
						E-mail: info@projektlenka.cz
					</div>
				</div>
			</div>

			<div class="footer__area2">

				<ul class="footer__menu">Firma
					<li class="footer__menu-item"><a class="footer__menu-link" href="/onas">O nás</a></li>
		
					<li class="footer__menu-item"><a class="footer__menu-link" href="/seminare">Semináře</a></li>
		
					<li class="footer__menu-item"><a class="footer__menu-link" href="/webinare">Webináře</a></li>
		
					<li class="footer__menu-item"><a class="footer__menu-link" href="/sluzby">Služby</a></li>
		
				</ul>

				<ul class="footer__menu">Obchodní podmínky
					<li class="footer__menu-item"><a class="footer__menu-link" href="/obchodni-podminky">Obchodní podmínky</a></li>
					
					<li class="footer__menu-item"><a class="footer__menu-link" href="/organizacni-pokyny">Organizační pokyny</a></li>
					
					<li class="footer__menu-item"><a class="footer__menu-link" href="/zpracovani-osobnich-udaju">Zpracování osobních údajů</a></li>
				</ul>

				<ul class="footer__menu">Spolupráce
					<li class="footer__menu-item"><a class="footer__menu-link" href="/nabizim-kurzy">Nabízím kurzy</a></li>
					
					<li class="footer__menu-item"><a class="footer__menu-link" href="/nabizim-skolici-prostory">Nabízím školící prostory</a></li>
				</ul>

				<div class="footer__newsletter">
					Chci dostávat novinky o plánovaných seminářích
					<button>Přihlásit k odběru newsletteru</button>
				</div>

			</div>

		</div>	

		
		<div class="footer__area-f">
			&copy;2021, Petra, Czechitas
		</div>
		
		
		<!----------------------  TO DO  -------------------------------- 
					
			<div class="footer__social">

				<div class="footer__area">
					<a href="https://www.facebook.com/nazev-uctu" target="blank" rel="noopener">
						<img class="footer__facebook" src="/images/ikona-facebook" alt="facebook"></a>
				</div>
		
				<div class="footer__area">
					<a href="https://instagram.com/nazev-uctu" target="blank" rel="noopener">
						<img class="footer__instagram" src="/images/ikona-instagram" alt="instagram"></a>
				</div>
			</div> ----------------------------------------------------->

		
	</footer>

</body>
</html>